# Python compatibility
PySocks
configparser; python_version < '3'
win_inet_pton; python_version < '3' and sys_platform == 'win32'

# Robots
requests

# Telegram support
python-telegram-bot; python_version >= '3'
python-telegram-bot==13.0; python_version < '3'
tomli
tomli-w

# Logging
coloredlogs